@{
    ViewBag.Title = "Fee Structure";
    ViewBag.pTitle = "Fee Structure";
    ViewBag.pageTitle = "Fee Structure Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

}
<style>
    .cursor-pointer {
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row mb-3">
                    <div class="col-md-6">
                        <h4 class="card-title float-left">Fee Structure</h4>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-primary text-light float-right btnadd" data-toggle="modal" data-target=".addeditFeeStructure">Add</a>
                    </div>
                </div>

                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Sr</th>
                            <th hidden>FeeStructureid </th>
                            <th>FeeStructure Name</th>
                            <th>Campus</th>
                            <th>Session</th>
                            <th>Class</th>
                            <th>Section</th>
                            <th>isActive</th>
                            <th>Action</th>
                        </tr>
                    </thead>


                    <tbody>
                        <tr>
                            <td>1</td>
                            <td hidden>FeeStructureId</td>
                            <td>Main FeeStructure</td>
                            <td>Main Campus</td>
                            <td>2021-2022</td>
                            <td>9th</td>
                            <td>A</td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckcolor1" checked>
                                    <label class="custom-control-label" for="customCheckcolor1"></label>
                                </div>
                            </td>
                            <td><i class="fa fa-edit text-primary cursor-pointer" data-toggle="modal" data-target=".addeditFeeStructure"></i> <i class="fa fa-trash text-danger cursor-pointer"></i></td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
@* Model Start *@
<div class="modal fade addeditFeeStructure" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">Add / Edit FeeStructure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="form-group row">

                                <input class="form-control mt-2 txtFeeStructureid d-none" type="text" value="" id="example-text-input">

                                <label for="example-text-input" class="col-md-2 col-form-label">FeeStructure Name *</label>
                                <div class="col-md-4">
                                    <input class="form-control mt-2 txtFeeStructurename" type="text" value="" id="example-text-input">
                                </div>

                                <label for="example-text-input" class="col-md-2 col-form-label">isActive</label>
                                <div class="col-md-4">
                                    <div class="custom-control custom-checkbox mt-2">
                                        <input type="checkbox" class="custom-control-input" id="customCheckisActive" checked>
                                        <label class="custom-control-label" for="customCheckisActive"></label>
                                    </div>
                                </div>

                                <label for="validationCampus" class="col-md-2 col-form-label">Campus</label>
                                <div class="col-md-4 mb-2 mt-2">
                                    <select class="form-control" id="validationCampus">
                                        <option>Select Campus</option>
                                        <option>Main Campus</option>
                                        <option>Second Campus</option>
                                    </select>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>

                                <label for="validationSession" class="col-md-2 col-form-label">Session</label>
                                <div class="col-md-4">
                                    <select class="form-control" id="validationSession">
                                        <option>Select Session</option>
                                        <option>2017-2021</option>
                                        <option>2018-2023</option>
                                    </select>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>

                                <label for="validationClass" class="col-md-2 col-form-label">Class</label>
                                <div class="col-md-4">
                                    <select class="form-control" id="validationClass">
                                        <option>Select Class</option>
                                        <option>9th</option>
                                        <option>10th</option>
                                    </select>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>

                                <label for="validationSection" class="col-md-2 col-form-label">Section</label>
                                <div class="col-md-4">
                                    <select class="form-control" id="validationSection">
                                        <option>Select Section</option>
                                        <option>A</option>
                                        <option>B</option>
                                    </select>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>



                                <div class="col-md-12 mt-2 text-center">
                                    <button class="btn btn-primary btnaddedit">Save</button>
                                    <button class="btn btn-danger btncancel">Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*  Model End *@



@section scripts{
    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/assets/js/pages/datatables.init.js"></script>

    <script src="~/assets/js/app.js"></script>
}
